name: Build & Test
"on":
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: 01 13 * * SAT
jobs:
  test:
    name: Build & Test
    runs-on: ${{ "{{" }} matrix.os {{ "}}" }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b
        id: setup-uv
        with:
          enable-cache: true
      - run: echo "Installed uv version is ${{ "{{" }} steps.setup-uv.outputs.uv-version {{ "}}" }}"
      - name: Create venv and sync deps
        run: |
          uv venv --python ${{ "{{" }} matrix.python-version {{ "}}" }}
          uv sync
      - name: Run tests (Windows)
        if: runner.os == 'Windows'
        run: |
          . .venv/Scripts/activate.ps1
          pytest
        shell: pwsh
      - name: Run tests (Linux/macOS)
        if: runner.os != 'Windows'
        run: |
          . .venv/bin/activate
          pytest
  required-check:
    name: All Tests Passed
    needs: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "All tests passed!"
